/* @import url("/css/style.css"); */

.maintenance-page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.maintenance__image {
    height: 30vh;
}

.maintenance__text {
    font-size: 1rem;
}

@media screen and (orientation: portrait) {
    .maintenance__image {
        width: 40vw;
        height: auto;
    }
}