<main class="main__index contact-page-container nonScrollPage">
    <div class="contact-page-background nonScrollPage">
        <div class="contact-page__content">
            <div class="contact__image">
                <img src="/assets/images/contact-hero.png" alt="contact-me">
            </div>
            <div class="contact__detail">
                <div class="contact__texts">
                    <p>Need help or have questions about the website?</p>
                    <p>Have suggestions and input regarding content?</p>
                    <p>Feel free to contact us here!</p>
                </div>
                <div class="contact__icons">
                    <img src="/assets/images/email_logo.png" alt="email">
                    <img src="/assets/images/discord-logo.png" alt="discord">
                </div>
            </div>
        </div>
    </div>
</main>



