<main class="main__index">
    <section class="hero">
        <div class="hero__details">
            <div class="hero__h">
                <h3>Play, Learn, and Use Tools in One Website</h3>
            </div>
            <div class="hero__p">
                <p>Come explore exciting games, try out unique tools, and give feedback on how this site can be developed.</p>
                <p>Let's go on an adventure!</p>
            </div>
        </div>
        <div class="hero__image">
            <img src="/assets/images/hero.png" alt="Play, Learn, and Use Tools in One Website">
        </div>
    </section>

    <section class="features">
        <div class="features__title sub-title">
            <h2 class="sub-title__h2">Our Features</h2>
            <div class="sub-title__underline index-underline"></div>
        </div>
        <div class="feature__cards">
            <div class="feature__card sgames-card">
                <img src="/assets/images/simple-games-hero.png" alt="simple-games">
                <h4>Simple Games</h4>
                <a href="/simple-games" onclick="route()">Open</a>
            </div>
            <div class="feature__card egames-card">
                <img src="/assets/images/edu-games-hero.png" alt="simple-games">
                <h4>Educational Games</h4>
                <a href="/edu-games" onclick="route()">Open</a>
            </div>
            <div class="feature__card tools-card">
                <img src="/assets/images/tools-hero.png" alt="simple-games">
                <h4>Tools</h4>
                <a href="/tools" onclick="route()">Open</a> 
            </div>
        </div>
    </section>

    <section class="about">
        <div class="about__title sub-title">
            <h2 class="sub-title__h2">What Website Is This?</h2>
            <div class="sub-title__underline index-underline"></div>
        </div>
        <div class="about__content">
            <div class="about__img">
                <img src="/assets/images/about.png" alt="about-nama-website">
            </div>
            <div class="about__details">
                <p>Nama-website is a digital space that provides a variety of simple games, educational games, and simple tools that can help you in various daily activities.</p>
                <p>Nama-website is a personal project born from our love of games and learning. We experiment and explore to create fun and useful digital content. As time goes by, this website will continue to develop and add new content.</p>
            </div>
        </div>
    </section>
</main>


